In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.espncricinfo.com/records/tournament/team-match-results/icc-men-s-t20-world-cup-2022-23-14450'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [15]:
table = soup.find_all('table')

In [16]:
titles_elements = soup.find_all('thead')

In [17]:
titles_elements

[<thead class="ds-bg-fill-content-alternate ds-text-left"><tr class=""><td class="ds-min-w-max"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Team 1</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Team 2</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Winner</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Margin</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Ground</span></div></td><td class="ds-min-w-max ds-text-right ds-whitespace-nowrap"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Match Date</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span class="ds-cursor-pointer">Scorecard</span></div></td></tr></thead>]

In [19]:
# Access the first element of the ResultSet to get the 'thead' element
thead_element = titles_elements[0]  

# Now you can find all the 'span' elements within the 'thead'
titles_elements = thead_element.find_all('span') 

# Extract the text from each 'span' element and strip any whitespace
titles = [title_element.text.strip() for title_element in titles_elements]

print(titles)

['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date', 'Scorecard']

In [20]:
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [Team 1, Team 2, Winner, Margin, Ground, Match Date, Scorecard]
Index: []

In [21]:
column_data = soup.find_all('tr')

In [22]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [23]:
df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872

In [24]:
df.tail()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
37,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
38,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
39,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
40,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
41,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823

In [26]:
df.to_csv(r'C:\Projects\Cricket t20 team - web scrabing - python - powerbi project\dim_match_summary.csv', index = False)